/* Write your code here. */
* {
  box-sizing: border-box;
}

body {
  margin: 0px;
}

.congrats-card-container {
  background-image: url("https://assets.ccbp.in/frontend/react-js/congrats-card-bg.png");
  min-height: 100vh;
  background-size: cover;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.heading {
  padding-top: 10px;
  font-family: "Roboto";
  font-size: 30px;
  font-weight: bold;
  color: #0f172a;
}

@media screen and (min-width: 768px) {
  .heading {
    font-size: 64px;
  }
}

.card-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #cffafe;
  border-radius: 20px;
  padding: 25px;
  width: 80%;
  text-align: center;
  margin-top: 20px;
}

@media screen and (min-width: 768px) {
  .card-container {
    width: 50%;
    padding: 48px;
    margin-top: 24px;
  }
}

@media screen and (min-width: 992px) {
  .card-container {
    width: 40%;
  }
}

@media screen and (min-width: 1200px) {
  .card-container {
    width: 30%;
  }
}

.profile-image {
  width: 100px;
}

.profile-name {
  font-family: "Roboto";
  font-size: 25px;
  color: #0f172a;
}

@media screen and (min-width: 768px) {
  .profile-name {
    font-size: 32px;
  }
}

.paragraph {
  font-family: "Roboto";
  color: #1e293b;
  font-size: 14px;
}

@media screen and (min-width: 768px) {
  .card-description {
    font-size: 19px;
  }
}
